@model GioHang

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	.txt__soluong{
		width:40px;
		padding: 0px 5px;
		border: 1px solid rgb(208 206 206) !important;
		text-align: center;
	}

	.txt__soluong:focus{
		outline: none
	}

	.btn__them{
		padding: 0px 10px !important;
		cursor: pointer;
		font-size: 19px;
		background: white !important; 
		height: 20px !important;
	}
</style>

<div class="hero-wrap hero-bread" style="background-image: url('/img/zyro-image\ \(11\).png');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span>Dự án</span></p>
				<h1 class="mb-0 bread">Thành phố xanh</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section ftco-cart" style="
    padding: 0px;
    margin: 20px 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table" style="
							background: #fff;
							box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
						<thead class="thead-primary">
							<tr class="text-center" style="background-color: #1C65A1 !important; ">
								<th>Hình ảnh</th>
								<th>Tên</th>
								<th>Đơn giá</th>
								<th>Số lượng</th>
								<th>Tổng tiền</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model?.Lines)
							{
								<tr class="text-center">
									<td class="image-prod">
										<img src="@Url.Action("GetImage", "SanPham", new { id = @item.SanPham.Id})" class="img" />
									</td>

									<td class="product-name">
										<h3>@item.SanPham.Ten</h3>
									</td>

									<td class="price">@item.SanPham.Gia</td>

									<td class="quantity">
										<div class="d-flex justify-content-center" style="gap:10px;">
											<lable class="btn__them giam" style="height: 30px !important;" data-id="@item.SanPham.Id">
												<i class="fa-solid fa-minus" style="color: brown !important;"></i>
											</lable>
											<input type="text" name="quantity"
												   class="txt__soluong" value="@item.SoLuong" min="1"
												   max="100" id="@item.SanPham.Id">
											<lable class="btn__them tang" style="height: 30px !important;" data-id="@item.SanPham.Id">
												<i class="fa-solid fa-plus" style="color: #188D3E !important;"></i>
											</lable>
										</div>
									</td>
									<td class="total" id="t @item.SanPham.Id">@((item.SanPham.Gia * item.SoLuong)?.ToString("C3"))</td>

									<td class="product-remove">
										<a href="/GioHang/XoaSPGioHang?Id=@item.SanPham.Id" style="border:none; cursor:pointer;">
											<i class="fa-solid fa-xmark" style="color: brown; font-size:20px;"></i>
										</a>

									</td>
									
									<!-- END TR-->
								</tr>

							}
						</tbody>
					</table>
			</div>
		</div>
	</div>
 	  <form method="post" asp-action="AddToDonHang" asp-controller="GioHang">
		  
			<div class="row justify-content-end" style="background: #fff;
														border-radius: 5px;
														box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Ghi chú</h3>
					<p>Nhập ghi chú vào trường thông tin</p>
					<div class="form-group">
						<textarea type="text" class="form-control text-left px-3" placeholder="" style="height:13rem !important; padding: 10px 0px; resize: none;" name="GhiChu"></textarea>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Thông tin giao hàng</h3>
					<p>Nhập thông tin nhận hàng của bạn</p>
					<div class="form-group">
						<label >Họ tên</label>
						<input type="text" class="form-control text-left px-3" placeholder="" name="HoTen">
							<span style="color:red;">@ViewBag.ktHoTen</span>
					</div>
					<div class="form-group">
							<label for="SoDT">Số điện thoại</label>
						<input type="text" class="form-control text-left px-3" placeholder="" name="SoDT">
							<span style="color:red;">@ViewBag.ktDT</span>
					</div>
					<div class="form-group">
							<label for="DiaChi">Đia chỉ</label>
						<input type="text" class="form-control text-left px-3" placeholder="" name="DiaChi">
							<span style="color:red;">@ViewBag.ktDiaChi</span>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Tổng tiền</h3>
					<p class="d-flex">
						<span>Tạm tính</span>
						<span id="TamTinh"> @Model.TamTinh().ToString("C3")</span>
					</p>
					<p class="d-flex">
						<span>Phí Ship</span>
						<span>20,000 ₫</span>
					</p>
					<hr>
					<p class="d-flex total-price">
							<span>Tổng</span>
							<span id="TongTien">
								@Model.TongTien().ToString("C3")
								</span>
						</p>
				</div>
					<p>
					
						<button style="color: white !important; 
										background-color: #dd781a !important; 
										border-radius: 2px !important; 
										font-size:20px; 
										width: 100%; 
										padding: 5px 0; 
										cursor: pointer;">Đặt hàng</button>
						
					</p>
			</div>
		</div>
	</form>  
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/GioHang/GioHang.js"></script>
