
@{
    ViewData["Title"] = "ThongKe";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" id="alert" role="alert" style="position:absolute; top: 7rem ; right: 0px; z-index: 9;">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="mb-3">
    <div class="d-flex justify-content-between gap-3" style=" width:calc(100% - 30px ) ">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                            <h5 class="text-nowrap mb-2">Tổng thu nhập</h5>
                        </div>
                    </div>
                    <span class="d-block mb-1">@ViewBag.DemTong đơn hàng</span>
                    <h3 class="card-title text-nowrap mb-2">@((ViewBag.DemTong * 20).ToString("C3"))</h3>
                    <a href=""><small class="text-danger fw-semibold">tháng @DateTime.Now.Month</small></a>
                </div>
            </div>

        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                            <h5 class="text-nowrap mb-2">Thu nhập hôm qua</h5>
                        </div>
                    </div>
                    <span class="fw-semibold d-block mb-1">@ViewBag.HomQua đơn hàng</span>
                    <h3 class="card-title text-nowrap mb-2">@((ViewBag.HomQua * 20).ToString("C3"))</h3>
                    <small class="text-warning fw-semibold">@DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy")</small>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                            <h5 class="text-nowrap mb-2">Thu nhập hôm nay</h5>
                        </div>
                    </div>
                    <span class="fw-semibold d-block mb-1">@ViewBag.DemDay đơn hàng</span>
                    <h3 class="card-title text-nowrap mb-2">@((ViewBag.DemDay * 20).ToString("C3"))</h3>
                    <small class="text-success fw-semibold">@DateTime.Now.ToString("dd/MM/yyyy")</small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <canvas id="myChart"></canvas>
    </div>

</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/ThongKe/ThongKe.js"></script>


