
@{
    ViewData["Title"] = "XacNhanHuy";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><a asp-action="Index" asp-controller="DonHang" class="text-muted fw-light">Đơn hàng <i class="fa-solid fa-chevron-right" style="font-size:18px;"></i> </a><span style="color: #ff3e1d">Bạn có huỷ đơn hàng này không????</span></h4>

<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Tên cửa hàng</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Tổng tiền</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @{
                    @foreach (var item in ViewBag.ListProduct)
                    {
                        <tr>
                            <td><img src="@Url.Action("GetImage", "SanPham", new { id = @item.SanPham.Id})" style=" object-fit: cover; width:60px; height: 60px;" /></td>
                            <td>@item.SanPham.Ten</td>
                            <td>@item.SanPham.CuaHang.Ten</td>
                            <td>@item.SanPham.Gia.ToString("C3")</td>
                            <td>@item.SoLuong</td>
                            <td>@((item.SoLuong * item.SanPham.Gia).ToString("C3"))</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="d-flex justify-content-between mt-4" style="gap: 20px;">
    <div class="col-md-6">
        <div class="card mb-4">
            <h5 class="card-header">Thông tin giao hàng</h5>
            <div class="card-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Họ tên khách hàng</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" value="@ViewBag.ThongTinGiaoHang.HoTen" disabled>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Số điện thoại khách hàng</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" value="@ViewBag.ThongTinGiaoHang.SoDT" disabled>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Địa chỉ</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" value="@ViewBag.ThongTinGiaoHang.DiaChi" disabled>
                </div>
                <div>
                    <label for="exampleFormControlTextarea1" class="form-label">Ghi chú</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled>@ViewBag.ThongTinGiaoHang.GhiChu </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <h5 class="card-header"></h5>
            <div class="card-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Tạm tính</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" value="@ViewBag.TamTinh.ToString("C3")" disabled>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Phí ship</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" value="20.000đ" disabled>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Tổng tiền</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" value="@((ViewBag.TamTinh + 20).ToString("C3"))" disabled>
                </div>
                <div class="mb-3 demo-inline-spacing">
                    <a asp-action="Index" asp-controller="DonHang" class="btn btn-success">Quay lại</a>
                    <a asp-action="HuyDonHang" asp-controller="DonHang" asp-route-id="@ViewBag.ThongTinGiaoHang.DonHangId" class="btn btn-outline-danger">Xác nhận huỷ</a>
                </div>
            </div>
        </div>
    </div>
</div>

