@model IEnumerable<Aram.Models.CuaHang>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form>
    <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
         id="layout-navbar">
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                    <input type="text"
                           class="form-control border-0 shadow-none"
                           placeholder="Search..." />
                </div>
            </div>
            <!-- /Search -->

            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                    <a href=""><i class="bx bx-search fs-4 lh-0"></i></a>
                </li>

                <!-- User -->
                <!--/ User -->
            </ul>
        </div>
    </nav>
</form>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" id="alert" role="alert" style="position:absolute; top: 7rem ; right: 0px; z-index: 9; display: none;">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h4 class="fw-bold py-3 mb-4"><a class="text-muted fw-light">Cửa hàng <i class="fa-solid fa-chevron-right" style="font-size:18px;"></i> </a>Danh sách cửa hàng</h4>
<!-- Basic Bootstrap Table -->

<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th style="color:white !important;">Tên cửa hàng</th>
                    <th style="color:white !important;">Số điện thoại</th>
                    <th style="color:white !important;">Địa chỉ</th>
                    <th style="color:white !important;">
                        <a asp-action="Create" asp-controller="CuaHang">
                            <i class="fa-solid fa-circle-plus" style="font-size:20px;"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Ten)</td>
                        <td>@Html.DisplayFor(modelItem => item.SoDT)</td>
                        <td>@Html.DisplayFor(modelItem => item.DiaChi)</td>
                        <td style="display: flex; align-items:center; justify-content: space-evenly;">
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square" style="font-size:18px; color: #448c8d !important;"></i></a>

                            <a asp-controller="SanPham" asp-action="TestIndex" asp-route-id="@item.Id"><i class="fa-solid fa-list" style="font-size:18px;"></i></a>

                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash" style="font-size:18px; color: #d11515 !important;"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="content-backdrop fade"></div>
