@{
    ViewData["Title"] = "Home Page";
}

<style>
	.active__phan--trang {
		color: white;
		background-color: #dd781a;
		padding: 5px 15px;
		border-radius: 50%;
	}

	.goi__y{
		position: absolute;
		width: 100%;
		height: 10rem;
		background-color: white;
		top: 3.5rem; 
		z-index: 1;
		overflow-y: auto;
		visibility: hidden;
	}

	.goi__y::-webkit-scrollbar {
		width: 1px; /* Chiều rộng của thanh cuộn */
	}

	.goi__y::-webkit-scrollbar-thumb {
		background-color: white; /* Màu nền của thanh cuộn */
		border-radius: 5px; /* Góc bo của thanh cuộn */
	}

	.goi__y::-webkit-scrollbar-track {
		background-color: white; /* Màu nền của vùng bên trong thanh cuộn */
	}
	.goi__item{
		list-style: none;
		color: black !important;
		cursor: pointer;
		padding: 5px 10px;
	}

	.goi__item:hover{
		background-color: #f5f5f5;
	}
	.PhanTrang {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		cursor: pointer;
	}

		.PhanTrang li {
			padding: 5px 15px;
		}
</style>

<div class="hero-wrap hero-bread" style="background-image: url('/img/zyro-image\ \(9\).png');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span>Thành phố</span></p>
				<h1 class="mb-0 bread">Buôn Ma Thuôt</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section" >
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 mb-5 text-center">
				<ul class="product-category">
					<li><a asp-action="Index" asp-controller="Home" class="active">Tất cả</a></li>
					@{
						foreach (var item in ViewBag.LoaiSanPham)
						{
							<li><a asp-action="LocSanPham" asp-controller="Home" asp-route-id="@item.Id">@item.Ten</a></li>
						}
					}
				</ul>
			</div>
		</div>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
			<div class="container py-4">
				<div class="row d-flex justify-content-center py-5">
					<div class="col-md-6">
						<h2 style="font-size: 22px;" class="mb-0">Tìm kiếm sản phẩm</h2>
						<span>Nhập tên sản phẩm, địa chỉ, tên cửa hàng mà bạn biết</span>
					</div>
					<div class="col-md-6 d-flex align-items-center">
						<form action="#" class="subscribe-form">
							<div class="form-group d-flex" style="position:relative;">
								<input type="text" class="form-control" placeholder="Tìm kiếm">
								<button type="submit" class="submit px-3"><i class="fa-solid fa-magnifying-glass"></i></button>
								<div class="goi__y">
									<li class="goi__item">Vải thổ cẩm</li>
									<li class="goi__item">Vải thổ cẩm</li>
									<li class="goi__item">Vải thổ cẩm</li>
									<li class="goi__item">Vải thổ cẩm</li>
									<li class="goi__item">Vải thổ cẩm</li>
									<li class="goi__item">Vải thổ cẩm</li>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<div class="row">
			@{
				@foreach( var item in ViewBag.ThongTinSanPham)
				{
					<div class="col-md-6 col-lg-3 ftco-animate contaner__content--trangchu">
						<div class="product">
							<a class="img-prod" style="height: 240px; object-fit: cover">
								<img class="img-fluid" src="@Url.Action("GetImage", "SanPham", new { id = @item.Id})" alt="Colorlib Template">
							</a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3><a href="#">@item.Ten</a></h3>
								@{
									if (item.TrangThai == true)
									{
										<h3><a href="#" class="product__trang--thai">Còn Hàng</a></h3>
									}
									else
									{
										<h3><a href="#" class="product__trang--thai">Hết hàng</a></h3>
									}
								}
								
								<div class="d-flex">
									<div class="pricing">
										<p class="price"><span class="price-sale">@item.Gia.ToString("C3")</span></p>
									</div>
								</div>
								<div class="bottom-area d-flex px-3">
									<div class="m-auto d-flex">
										<a asp-action="Product" asp-controller="Home" asp-route-id="@item.Id" class="add-to-cart d-flex justify-content-center align-items-center text-center">
											<span><i class="fa-solid fa-list"></i></span>
										</a>
										<a href="/GioHang/AddToGioHang?Id=@item.Id" class="buy-now d-flex justify-content-center align-items-center mx-1">
											<span><i class="fa-solid fa-cart-shopping"></i></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			}
		</div>
		<div class="row mt-5">
			<div class="col text-center">
				<div class="block-27">
					<ul class="PhanTrang">
						<li class="active__phan--trang"><span>1</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	let thispage = 1;
	let limit = 20;
	let list = document.querySelectorAll('.contaner__content--trangchu')

	function loadItem() {
		let beginGet = limit * (thispage - 1);
		let endGet = limit * thispage - 1;
		list.forEach((item, key) => {
			if (key >= beginGet && key <= endGet) {
				item.style.display = 'block';
			}
			else {
				item.style.display = 'none'
			}
		})
		listpage();
	}
	loadItem()

	function listpage() {
		let count = Math.ceil(list.length / limit)
		document.querySelector('.PhanTrang').innerHTML = '';
		for (let i = 1; i <= count; i++) {
			let newpage = document.createElement('li');
			newpage.innerText = i;
			if (i == thispage) {
				newpage.classList.add('active__phan--trang');
			}
			newpage.setAttribute('onclick', `changePage(${i})`)
			document.querySelector('.PhanTrang').appendChild(newpage);
		}
	}
	function changePage(i) {
		thispage = i;
		loadItem();
	}
</script>