@model Aram.Controllers.GioHangController
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	.active__phan--trang {
		color:white;
		background-color: #be7a65 ;
		padding : 5px 15px; 
		border-radius: 50%;

	}
	.PhanTrang{
		display: flex; 
		justify-content:center; 
		align-items:center;
		gap: 20px ;
		cursor: pointer;
	}

	.PhanTrang li {
		padding: 5px 15px; 
	}
</style>

<div class="hero-wrap hero-bread" style="background-image: url('/img/zyro-image\ \(11\).png');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span>Dự án</span></p>
				<h1 class="mb-0 bread">Thành phố xanh</h1>
			</div>
		</div>
	</div>
</div>
<form method="post" asp-action="AddToGioHang" asp-controller="Giohang" asp-route-sanPhamId="@ViewBag.ThongTinSanPhamId.Id">
	<section style="margin-top: 1rem;">
	<div class="container">
		<div class="row" style="background-color: white; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
			<div class="col-lg-6 mb-5 ftco-animate">
				<a class="image-popup">
					<img src="@Url.Action("GetImage", "SanPham", new { id = @ViewBag.ThongTinSanPhamId.Id})"
						 class="img-fluid" alt="Colorlib Template" style="margin-top:3rem; height: 25rem; width: 100%; object-fit: cover;" />
				</a>
			</div>
			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
					<p class="price" style="margin-top:4rem;"></p>

					<h3 style=" color: black;">@ViewBag.ThongTinSanPhamId.Ten</h3>

					<i class="fa-solid fa-store" style="color: #1c65a1;"></i></i><span style="color: #1C65A1; font-size:16px;"> @ViewBag.ThongTinSanPhamId.CuaHang.Ten</span> <br />
					<i class="fa-solid fa-location-dot" style="color: #1c65a1;"></i><span style="color: #1C65A1; font-size:16px;"> @ViewBag.ThongTinSanPhamId.CuaHang.DiaChi</span><br />
					<i class="fa-solid fa-phone" style="color: #1c65a1;"></i><span style="color: #1C65A1; font-size:16px;"> @ViewBag.ThongTinSanPhamId.CuaHang.SoDT</span>

					<p class="price"><span style="color: #ec4b1c; font-weight:600;">@ViewBag.ThongTinSanPhamId.Gia.ToString("C3")</span></p>
					<div class="row mt-4">
						<div class="input-group col-md-6 d-flex mb-3" style="width:100%;">
							<span class="input-group-btn mr-2">
								<button type="button" class="quantity-left-minus btn" id="minus" data-field="">
									<i class="fa-solid fa-minus"></i>
								</button>
							</span>
							<input type="text" id="quantity" name="quantity" class="form-control input-number" value="1"
								   min="1" max="100">
							<span class="input-group-btn ml-2">
								<button type="button" class="quantity-right-plus btn" id="plus" data-field="">
									<i class="fa-solid fa-plus"></i>
								</button>
							</span>
						</div>
					</div>
					<a asp-action="AddToGioHang" asp-controller="Giohang" asp-route-sanPhamId="@ViewBag.ThongTinSanPhamId.Id" style="color: #ec951c; font-size: 18px; padding: 5px 10px; border-radius:2px !important; border: 1px solid;" class="btn">Thêm vào giỏ hàng</a>
					<input type="submit" style="color: white !important; 
												font-size: 18px; 
												padding: 5px 10px; 
												border-radius:2px !important; 
												background: #d71111 !important;
												border: none;" class="btn btn-dark" value="Mua ngay" />
				</div>

		</div>
	</div>
</section>
</form>



<section class="ftco-section" style="background: url(/img/z4948448986151_c1d081626f73786c95fd363e3d17c8fa.jpg) no-repeat fixed !important; margin-top: 20px;">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<h2 class="mb-4">Sản phẩm</h2>
				<p>Các phẩm tương ứng của các cửa hàng</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			@{
				@foreach (var item in ViewBag.ThongTinSanPham)
				{
					<div class="col-md-6 col-lg-3 ftco-animate contaner__content--trangchu">
						<div class="product">
							<a class="img-prod" style="height: 240px; object-fit: cover;">
								<img class="img-fluid" src="@Url.Action("GetImage", "SanPham", new { id = item.Id})"
									 alt="Colorlib Template">
							</a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3><a href="#">@item.Ten</a></h3>
								<div class="d-flex">
									<div class="pricing">
										<h3 style="font-size:13px; height: 35px;"><a class="product__trang--thai">@item.CuaHang.Ten</a></h3>

										<p class="price"><span class="price-sale">@item.Gia.ToString("C3")</span></p>
									</div>
								</div>
								<div class="bottom-area d-flex px-3">
									<div class="m-auto d-flex">
										<a asp-action="Product" asp-controller="Home" asp-route-id="@item.Id" class="add-to-cart d-flex justify-content-center align-items-center text-center">
											<span><i class="fa-solid fa-list"></i></span>
										</a>
										<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
											<span><i class="fa-solid fa-cart-shopping"></i></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
	<div class="row mt-5">
		<div class="col text-center">
			<div class="block-27">
				<ul class="PhanTrang">
					<li class="active__phan--trang"><span>1</span></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section" style="margin-top: 20px; background: white;">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<h2 class="mb-4">Cửa hàng</h2>
				<p>Các cửa hàng có bán sản phẩm tương ứng</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<table class="table">
				<tbody>
					@{
						@foreach (var item in ViewBag.ListShop)
						{
							<tr style="color: black;">
								<td>
									@item.CuaHang.Ten
								</td>
								<td>
									@item.CuaHang.SoDT
								</td>
								<td>
									@item.CuaHang.DiaChi
								</td>
								<td>
									<a asp-action="Shop" asp-controller="Home" asp-route-id="@item.CuaHang.Id"><i class="fa-solid fa-list" style="color: #da4112 !important; font-size:20px; margin-left: 10px"></i></a>
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</section>

<script>
	let thispage = 1;
	let limit = 8;
	let list = document.querySelectorAll('.contaner__content--trangchu')

	function loadItem() {
		let beginGet = limit * (thispage - 1);
		let endGet = limit * thispage - 1;
		list.forEach((item, key) => {
			if (key >= beginGet && key <= endGet) {
				item.style.display = 'block';
			}
			else {
				item.style.display = 'none'
			}
		})
		listpage();
	}
	loadItem()

	function listpage() {
		let count = Math.ceil(list.length / limit)
		document.querySelector('.PhanTrang').innerHTML = '';
		for (let i = 1; i <= count; i++) {
			let newpage = document.createElement('li');
			newpage.innerText = i;
			if (i == thispage) {
				newpage.classList.add('active__phan--trang');
			}
			newpage.setAttribute('onclick', `changePage(${i})`)
			document.querySelector('.PhanTrang').appendChild(newpage);
		}
	}
	function changePage(i) {
		thispage = i;
		loadItem();
	}

	//thêm số lượng
	var them = document.getElementById('plus');
	var giam = document.getElementById('minus');
	var input = document.getElementById('quantity');
	var dem = input.value;
	them.addEventListener('click', function(){
		input.value = ++dem; 
	});
	giam.addEventListener('click', function () {
		if ( dem == 0 ){
			dem = 1
		}
		input.value = --dem;
	});
</script>
