@model IEnumerable<Aram.Models.SanPham>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="/css/CuaHang/Create.css">

<div style="width: 90%;
            margin: 7rem auto;
            padding: 20px 0px;
            background: #fff;">
    <div class="main__tieude">
        <p class="tieu__de">Danh sản phẩm <br /> của "@ViewBag.chName.Ten"</p>
        <div class="main__tim--kiem">
            <input type="text" placeholder="Tìm kiếm" class="ipt__tim--kiem" />
            <button class="btn__tim--kiem"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>

    <table class="table">
        <thead style="background-color: #dad9d9; color: black;">
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Tên sản phẩm
                </th>
                <th>
                    Đơn giá
                </th>
                <th>
                    Hình ảnh
                </th>
                <th>
                    <a asp-action="Create" asp-controller="SanPham" asp-route-chID="@ViewBag.chID" class="btn" style=" border-radius: 2px; border:1px solid black; color: black;">Thêm sản phẩm</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int dem = 0 ;
                @foreach (var item in Model)
                {
                    dem++;
                    <tr style="color: black;">
                        <td>
                            @dem
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gia)
                        </td>
                        <td>
                            <img src="/img/387200086_3577064259232610_1304488237168037483_n.jpg" style="width:50px;" />
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square" style="color: #448c8d !important; font-size:20px; margin-left: 10px"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash" style="color: #d11515 !important; font-size:20px; margin-left: 10px"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
